/* CSS Document */

* { margin:0; padding:0;}
body { background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:17px; color:#4d5255;}
table, td {border-collapse:collapse; font-size:100%;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td { vertical-align:top; text-align:left;}

.main-width { width:1180px; margin:0 auto; text-align:left;}
.extra { width:1220px; margin:0 auto; text-align:left;}

input, textarea { font-family:Tahoma; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

img {vertical-align:top;}
a img { border:0;}
ul { list-style:none;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper{ width:100%; overflow:hidden;}
.container { width:100%;}
.column-1, .column-2, .column-3{ float:left;}

a {color:#939393; outline:none; text-decoration:underline;}
a:hover{text-decoration:none;}
p { margin:0; padding:0;}

/* ============================= header ====================== */
#header{
	position:relative;
	height:190px;
	margin-bottom:19px;
}
/* --- logo --- */
#header .logo{
	position:absolute;
	top:66px;
	left:0;
}

/* --- shopping cart --- */
#header .cart{
	position:absolute;
	right:0px;
	top:24px;
	background:url(../images/cart-bg.png) no-repeat 0 0;
	width:52px;
	height:27px;
	text-align:center;
	padding:15px 0 0 0;
}

#header .cart  a{
	color:#f6574f;
	font-size:18px;
	line-height:18px;
	text-decoration:none;
}
#header .cart a:hover{color:#939393;}
/* _______ dropdown cart _______ */
#header .cart  a.on{cursor:pointer;}
.cart-down, .none{	border:1px solid #eaeaea; background:#fff; overflow:hidden;	position:absolute; width:280px; right:0; top:41px; z-index:100;	text-transform:none; display:none; text-align:left;}
.none{padding:15px; text-align:center; text-transform:uppercase;}
.cart_item{	width:256px; overflow:hidden; background:url(../images/tail-cart.gif) repeat-x 0 100% #fff;	padding:12px; margin:2px 0;}
.cart_item .left-info{ float:left;}
.cart_item .center-info{float:left; width:165px;}
.cart_item span{float:left;	margin:0 5px 0 0;}
.cart_item .quantity{color:#000; font-weight:bold; font-family:Tahoma, Geneva, sans-serif; margin:1px 5px 0 0;}
.cart_item .quantity .spr{font-size:8px; font-weight:normal; font-style:normal;}
.cart_item .cart-name{color:#000; font-size:12px!important; line-height:18px; float:left; text-transform:none; text-decoration:none;}
.cart_item .cart-name:hover{text-decoration:underline;}
.cart_item .model{display:block;font-size:10px;margin-top:1px; color:#676363; text-transform:lowercase; font-family:Tahoma, Geneva, sans-serif; display:block; float:left; clear:both;}
.cart_item a.cart-img{ float:left; display:inline-block;margin:0 5px 0 0;}
.cart_item a.cart-img img{ width:60px; height:87px;}
.cart_item .cart-price{	float:left;	color:#7c0026;	font-size:14px;	font-weight:normal;}
.cart_item .delete{	float:right;padding:4px;}
.cart-down .cart-bottom{text-align:right; overflow:hidden; width:256px;	padding:12px; }
.cart-down .cart-bottom .total{ font-size:13px; font-weight:normal; width:100%; display:block;}
.cart-down .cart-bottom .total strong{ font-weight:normal;}
.cart-down .cart-bottom .total span{ font-size:14px; color:#7c0026;	margin:0 0 0 5px;}
.cart-down .cart-bottom a{float:left;}
.cart-down .cart-bottom .btns{overflow:hidden;	margin:10px 0 0 0;	text-align:right;	float:right;}

/* --- navigation --- */
#header .navigation{ position:absolute; top:81px; right:613px;}
#header .navigation a{text-decoration:none; color:#939393; font-size:12px; line-height:17px; float:left; margin-left:9px;}
#header .navigation a.frst{}
#header .navigation a:hover{ color:#f76d66;}

/* --- search --- */
#header #head-search{ position:absolute; top:146px; right:0; z-index:2;}
#header #head-search .label{}
#header #head-search form{float:left;}
#header #head-search .input1{float:left; background:#f2f2f2; border:none; padding:7px 0 7px 6px; width:116px; height:20px;}

/* --- languages --- */
#header .lang{
	height:15px;
	width:24px;
	position:absolute;
	top:48px;
	right:71px;
}

/* --- currencies --- */
#header .currencies{
	float:left;
	color:#656565;
	font-size:12px;
	line-height:15px;
	position:absolute;
	right:114px;
	top:44px;
	z-index:50;
	text-align:left;
	display:none;
}
#header .currencies .select.jqTransformHidden{
	display:none;
}
#header .currencies .label{
	float:left;
	margin-right:0px;
	margin-top:4px;
	color:#939393;
	font-size:12px;
	line-height:12px;
}
#header .currencies .jqTransformSelectWrapper{
	background:url(../images/cur-arrow.gif) no-repeat right top;
	border:none;
	float:left;
	width:96px!important;
	padding: 0 0 0 0;
	cursor:default;
}
#header .currencies .jqTransformSelectWrapper div{
	height:22px!important;
	overflow:hidden;
	background:url(../images/cur-bg.gif) no-repeat left top;
}
#header .currencies .jqTransformSelectWrapper div span{
	font-size:11px;
	color:#c9c9c9;
	padding:4px 25px 0 9px;
	cursor:pointer;
	width:63px!important;
	height:18px!important;
	overflow:hidden;
	float:left;
}
#header .currencies ul{
	padding:4px 0 0 0;
	margin:2px 1px 0 0px;
	width:94px!important;
	height:80px!important;
	overflow:hidden;
	border:1px solid #e6e6e6;
	font-family:Arial, Helvetica, sans-serif;
	background:#fff;
}
#header .currencies ul li{
	line-height:11px;
	padding:2px 7px;
	overflow:hidden;
	width:94px!important;
}
#header .currencies ul li a{
	color:#c9c9c9;
	font-size:11px;
	line-height:11px;
	text-decoration:none;
	display:block;
}
#header .currencies ul li a:hover{
	color:#000;
}

/* --- menu --- */
#header .menu{ position:absolute; right:5px; top:81px;}
#header .menu ul{
	padding:0;
	margin:0;
	overflow:hidden;
}
#header .menu ul li{
	float:left;
	margin:0 0 0 15px;
}
#header .menu ul li a{ text-decoration:none; color:#939393; font-size:12px; line-height:17px;}
#header .menu ul li:first-child a{}

#header .menu ul li.selected a,
#header .menu ul li a:hover{color:#f76d66;}

.horizontal_cat{
	height:53px;
	width:100%;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	position:absolute;
	top:135px;
	left:0;
}
/* ============================= content ===================== */

.name{ font-size:17px; text-decoration:none; line-height:20px; font-weight:bold; font-family: 'Open Sans', sans-serif;}
.name:hover{ color:#f76d66;}

#column-left{ padding-right:20px;}
#column-center{}
#right-column{}
.column-center-padding{}


#featured_prod { margin:0px 0 0 0; width:1180px; overflow:hidden;}
#featured_prod ul{ padding:0; margin:40px 0 0 0; overflow:hidden; width:1200px;}
#featured_prod ul li{
	float:left;
	margin:0 20px 0 0;
}
/* --- product --- */
.product-col{
	width:180px!important;
	margin-bottom:20px
}
.product-col .prod-info{
	padding:15px 0 0 0;
}

.product-col .name{
	color:#f66c65;
	font-size:12px;
	line-height:19px;
	font-weight:normal;
	text-decoration:none;
	min-height:49px;
}
.product-col .name:hover{color:#939393;}

.product-col .text{}
.price{
	color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;
}
.price strong{font-weight:normal;}
.product-col .price{}

#reviewsInfoDefault .image{ border:none;}
/* ============================= footer ====================== */
#footer{
	position:relative;
	border-top:1px solid #e5e5e5;
	margin:19px 0 0 0;
	padding:26px 0 50px 0;
}
/* --- copyright --- */
#footer .copyright{ font-weight: normal; text-decoration:none; font-size:12px; line-height:17px; color:#939393; margin:8px 0 0 1px;}
#footer .copyright a{ color:#939393; text-decoration:none;}
#footer .copyright a:hover{ color:#000;}

/* --- back to top --- */
.back_to_top{
	width:0px;
	height:0px;
	position:absolute;
	top:0px;
	right:0px;
}
.back_to_top a{}
.back_to_top a:hover{}

/* --- cards --- */
#footer .cards{}

/* ============================= banners ====================== */
.slider1{
	float:left;
	width:380px;
	height:650px;
	margin-right:20px;
	position:relative;
	z-index:1;
}
.slider1 .pagination{ position:absolute; bottom:20px; left:20px; margin:0; padding:0; z-index:999;}
.slider1 .pagination li{ float:left; margin:0 9px 0 0;}
.slider1 .pagination li a{ background:url(../images/pagination1.png) no-repeat 100% 0; display:block; width:15px; height:15px; text-indent:-10000px;}
.slider1 .pagination li.current a,
.slider1 .pagination li a:hover{ background:url(../images/pagination1.png) no-repeat 0 0;}

.slider2{
	float:left;
	width:380px;
	height:650px;
	margin-right:20px;
	position:relative;
	z-index:1;
}
.slider2 .pagination{ position:absolute; bottom:20px; left:20px; margin:0; padding:0; z-index:999;}
.slider2 .pagination li{ float:left; margin:0 9px 0 0;}
.slider2 .pagination li a{ background:url(../images/pagination2.png) no-repeat 100% 0; display:block; width:15px; height:15px; text-indent:-10000px;}
.slider2 .pagination li.current a,
.slider2 .pagination li a:hover{ background:url(../images/pagination2.png) no-repeat 0 0;}

.top1{
	margin-bottom:20px;
}
.banners-top{ margin-bottom:42px;}
.right-banners{
	width:380px;
	height:650px;
	float:right;
}
.right-banners div+div{ margin-top:20px;}

.banners_bot{ overflow:hidden; width:100%;}
.banners_bot div{ float:left;}
.banners_bot div+div{ margin-left:20px;}
/* --- faded slider --- 
.slider{
	width:0px;
	overflow:hidden;
	height:0px;
}
#faded{
	width:0px;
	height:0px;
	position:relative;
	overflow:hidden;
}
#faded .pagination{
	position:absolute;
	bottom:0px;
	right:px;
	z-index:9999;
	margin:0;
}
#faded .pagination li{
	width:0px;
	height:0px;
	overflow:hidden;
	float:left;
	margin:0 0 0 0;
}
#faded .pagination li a{
	display:block;
	overflow:hidden;
	width:0px;
	height:0px;
	background:url(../images/pagination.png) no-repeat 100% 0;
	text-indent:-10000px;
}
#faded .pagination li.current a,
#faded .pagination li a:hover{
	background:url(../images/pagination.png) no-repeat 0 0;
}
*/


/* ============================= forms ======================= */
input, select, textarea{ font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; color:#010101; border:solid 1px #e3e3e3; padding:2px; background:#fdfdfd; risize:none;}
input:focus, select:focus, textarea:focus{outline:none;}
.cartRemoveItemDisplay input,
#search-in-description, #inc-subcat, #gender-female, #gender-male, #newsletter-checkbox, #email-format-text, #email-format-html, #rating-1, #rating-2, #rating-3, #rating-4, #rating-5, #pmt-linkpoint_api, #pmt-moneyorder, #pmt-paypal, #pmt-cod, #notify-0{ border:none!important;}
#rating-1, #rating-2, #rating-3, #rating-4, #rating-5{margin:2px 4px 0 8px; padding:0; background:none;}
*+html #rating-1{ margin:0; padding:0;}
*+html #rating-2{ margin:0; padding:0;}
*+html #rating-3{ margin:0; padding:0;}
*+html #rating-4{ margin:0; padding:0;}
*+html #rating-5{ margin:0; padding:0;}
#globalnotify, #pmt-cod, #pmt-moneyorder, #ship-flat-flat, #ship-item-item, #ship-storepickup-storepickup, #gender-male, #gender-female, #email-format-html, #email-format-text, #newsletter{border:none!important;	position:relative; top:2px;}
#primary{ margin-left:10px;	position:relative; top:2px; border:none!important;}
#disc-ot_coupon{margin:5px 0 0 0;}
#cartContentsDisplay input{ background:none;}