body {  
	behavior: url(includes/csshover.htc);
	}

div#dropMenu li a:hover, div#dropMenu li.submenu li.submenu:hover {}

	
#dropMenuWrapper {
	width:100%;
	margin:0;
	}
	
div#dropMenu {
	z-index:2;
	position:relative;
	}

div#dropMenu ul {
	margin: 0; 
	padding: 0;
	}
	
div#dropMenu li {
	position: relative; 
	list-style: none; 
	margin: 0; 
	float: left; 
	line-height: 1em;
	}
	
div#dropMenu ul.level1 {}
	
div#dropMenu li:hover {}
div#dropMenu li.submenu {}
div#dropMenu li.submenu:hover {}
div#dropMenu li a {display: block;} 
div#dropMenu>ul a {width: auto;}
div#dropMenu ul.level2 {position: absolute; z-index:999!important;}
div#dropMenu ul ul li {}
div#dropMenu li.submenu li.submenu {}
div#dropMenu ul.level1 li.submenu:hover ul.level2, 
div#dropMenu ul.level2 li.submenu:hover ul.level3,
div#dropMenu ul.level3 li.submenu:hover ul.level4,
div#dropMenu ul.level4 li.submenu:hover ul.level5 {display:block; z-index:2;}
div#dropMenu ul.level2 {top:53px; left:-1px; z-index:2;}
div#dropMenu ul.level3, div#dropMenu ul.level4, div#dropMenu ul.level5 {top: 0; left: 13em;}
div#dropMenu ul.level2 a {padding: 0; text-transform:none;}  /* this is text color on drop-down submenu */
div#dropMenu ul.level2 a:hover {}

div#dropMenu ul.level1{}
div#dropMenu ul.level1>li{
	margin:0 28px 0 0;
}
div#dropMenu ul.level1>li>a{
	font-size:20px;
	color:#8b8b8b;
	display:block;
	padding:13px 0 17px 1px;
	text-decoration:none;
	text-transform:uppercase;
	letter-spacing:-1px;
	font-size:20px;
	line-height:24px;
	font-family: 'Open Sans', sans-serif;
}
div#dropMenu ul.level1>li>a.screenshot{ }
div#dropMenu ul.level1>li.submenu > a:hover, 
div#dropMenu ul.level1>li.submenu:hover > a,
div#dropMenu ul.level1>li>a:hover{
	color:#f6574f;
}
div#dropMenu ul.level2{
	min-width:419px;
	padding:10px 0 13px 20px;
	display:none;
	background:#fff;
	box-shadow:0 0 15px #e3e6e9;
	-moz-box-shadow:0 0 15px #e3e6e9;
	-webkit-box-shadow:0 0 15px #e3e6e9;
}
div#dropMenu ul.level2>li{
	width:189px;
	float:left;
	border-top:1px dotted #bfbebe;
	margin-right:20px;
}
div#dropMenu ul.level2>li:first-child{ border:none;}
div#dropMenu ul.level2>li+li{ border:none;}
div#dropMenu ul.level2>li+li+li{border-top:1px dotted #bfbebe;}
div#dropMenu ul.level2>li>a{
	color:#939393;
	font-size:12px;
	line-height:29px;
	text-decoration:none;
	display:inline-block;
	padding-bottom:0px;
}
div#dropMenu ul.level2>li>a:hover{	
	color:#e13a4d;
}
div#dropMenu ul.level1>li.submenu > a:hover, 
div#dropMenu ul.level1>li.submenu:hover > a{
	background:url(../images/cat-act.gif) repeat left top
}
div#dropMenu ul.level3{}
div#dropMenu ul.level3>li:first-child{
	border:none;
}
div#dropMenu ul.level3>li{
	border-top:1px solid #000;
	min-width:129px;
}
div#dropMenu ul.level3>li>a{
	color:#a19999;
	text-decoration:none;
	font-size:11px;
	line-height:22px;
}
div#dropMenu ul.level3>li>a:hover{
	color:#e13a4d;
}