
/* ----------------------- BOXES ------------------------- */

.box {margin-bottom:20px;}

.box-head {
	color:#fccd34;
	font-size:20px;
	line-height:22px;
	text-transform:uppercase;
	font-weight:normal;
	font-family: 'Open Sans', sans-serif;
	border-bottom:1px solid #e5e5e5;
	padding:0 0 16px 0;
	margin-bottom:10px;
	letter-spacing:-2px;
}
.box-head a {color:#fccd34; text-decoration:none;}
.box-head a:hover {color:#f66c65;}

.box-body {}

.box-body ul {margin:0; padding:0; list-style:none;}
.box-body ul li {
	padding:4px 9px;
}
.box-body ul li a {
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	font-size:12px;
	text-decoration:none;
	color:#939393;
}
.box-body ul li.category-products a:hover,
.box-body ul li .category-subs-parent-selected,
.box-body ul li .category-subs-selected,
.box-body ul li a:hover {
	color:#000;
}

.box-body ol {margin:0; padding:0; list-style:decimal inside;}
.box-body ol li {padding:4px 9px; font-family: 'Open Sans', sans-serif;}
.box-body ol li a {	
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	font-size:12px;
	text-decoration:none;
	color:#939393;
}
.box-body ol li a:hover {
	color:#000;
}


/* ----------------------- LISTING BOXES ------------------------- */


#categories {}


#moreinformation {}


#information {}


#bestsellers {}


#ezpages {}


#orderhistory {}
#orderhistory .box-body img {background:#FFFFFF; padding:2px; border:1px solid #AAAAAA; vertical-align:middle; margin:2px 0px 2px 0px;}
#orderhistory .no-bg{ background:none; padding:0;}
#orderhistory a{ display:inline; background:none; padding:0;}


/* ----------------------- BANNER BOXES ------------------------- */

#bannerbox {}

#bannerbox2 {}

#bannerboxall {}



/* ----------------------- PRODUCT BOXES ------------------------- */

#featured a img, 
#whatsnew a img, 
#specials a img, 
#reviews a img, 
#manufacturerinfo img, 
#productnotifications img {margin:0 0 8px;}

#reviews img {margin:5px 0 0;}



#featured {}
#featured .box-body{ text-align:center;}
#featured .box-body .normalprice {text-decoration:line-through; color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;}
#featured .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;}


#whatsnew {}
#whatsnew .box-body{ text-align:center;}
#whatsnew .box-body .normalprice {text-decoration:line-through; color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;}
#whatsnew .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;}


#specials {}
#specials .box-body{ text-align:center;}
#specials .box-body .normalprice {text-decoration:line-through; color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;}
#specials .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#939393;
	font-size:17px;
	line-height:19px;
	font-weight:normal;}


#reviews {}
#reviews .box-body{ text-align:center;}

#manufacturerinfo {}


#productnotifications {}
#productnotifications .box-body{ text-align:center;}




/* ----------------------- FORM BOXES ------------------------- */

#search {}
#search .box-body{
	overflow:hidden;
	width:100%;
	padding:10px;
}
#search .advsearch{
	color:#464646;
	font-size:13px;
	line-height:24px;
	text-decoration:underline;
	text-transform:lowercase;
	font-family: 'Droid Sans', sans-serif;
	float:left;
	display:inline-block;
}
#search .advsearch:hover{ text-decoration:none;}
#search input{ border:solid 0px; padding:0; background:url(../images/search.gif) no-repeat 0 0;  width:35px; height:35px; vertical-align:middle; float:left; display:block; text-indent:-1000px; cursor: pointer;}
#search .input1{
	border:solid 1px #e8e8e7;
	margin-right:2px;
	width:125px!important;
	cursor:text;
	padding: 7px 2px 7px 2px; 
	float:left;
	margin-bottom:11px;
	background:#fff;
	text-indent:0;
	height:18px!important;
}


#manufacturers {}
#manufacturers .box-body {text-align:center;}


#currencies {}
#currencies .box-body {text-align:center;}
#currencies select{ width:90%;}


#recordcompanies {}
#recordcompanies .box-body {text-align:center;}


#musicgenres {}
#musicgenres .box-body {text-align:center;}



/* ----------------------- TEXT BOXES ------------------------- */

#languages {}
#languages .box-body {text-align:center;}


#whosonline {}
#whosonline .box-body {text-align:center;}


#documentcategories {}


#shoppingcart {}
#shoppingcart .cart_line {}
#shoppingcart #cartBoxEmpty {text-align:center;}
#shoppingcart li a{ padding:0; background:none;}
