/********************************************************************************************************

1. CSS RESET

2. VARIABLES
2.1 GRADIENTS
2.2 COLOR VARIABLES
2.3 CSS3 TRANSITIONS

3. GLOBAL THEME STYLES
3.1 MISCELLANEOUS
3.2 PAGE PRELOADER
3.3 COOKIES POLICY MESSAGE
3.4 GOOGLE MAPS
3.5 FANCYBOX COMMON STYLES
3.6 NEWSLETTER POPUP
3.7 ADD TO CART MESSAGE
3.8 PRODUCT QUICK VIEW

4. TYPOGRAPHY
4.1 HEADINGS
4.2 PARAGRAPHS & LISTS
4.3 LINKS
4.4 PRODUCT ATTRIBUTES (name, description, price)
4.5 RTE

5. FORMS & COMPONENTS
5.1 FORMS
5.2 ALERTS & NOTIFICATIONS
5.3 BUTTONS

6. GLOBAL PAGE LAYOUT

7. MAIN PAGE
7.1 PROMOBANNER
7.2 HEADER
7.3 MEGAMENU
7.4 NIVOSLIDER
7.5 SHOWCASE
7.6 MAIN PRODUCT LISTING
7.7 OTHER HOMEPAGE BLOCKS
7.8 FOOTER

8. COLLECTION PAGES
8.1 BREADCRUMBS
8.2 DESCRIPTIONS & TAGS
8.3 PRODUCTS SORTING
8.4 COLLECTION LISTING
8.5 PAGINATION

9. SIDEBAR WIDGETS
9.1 LINKS LIST
9.2 SIDEBAR PRODUCT LISTING
9.3 SIDEBAR BLOG WIDGETS

10. SEARCH RESULTS PAGE

11. PRODUCT PAGE
11.1 PRODUCT IMAGES
11.2 PRODUCT INFO
11.3 PRODUCT PAGINATION
11.4 RELATED PRODUCTS

12. BLOG
12.1 POSTS LISTING
12.2 SINGLE POST

13. CUSTOMER PAGES
13.1 LOGIN
13.2 RESET PASSWORD
13.3 ACCOUNT
13.4 ADDRESSES
13.5 ORDERS

14. CART PAGE

15. CONTACTS PAGE

16. PAGE 404

********************************************************************************************************/




/********************************************************************************************************
							< 1700px
********************************************************************************************************/

@media (max-width: 1700px) {


/* PROMOBANNER */
.promobanner_container {width: 1170px;}

.promobanner_content img {display: none;}

.promobanner_content {width: 50%;}
.promobanner_counter {width: 50%;}






}




/********************************************************************************************************
							< 1300px
********************************************************************************************************/

@media (max-width: 1300px) {

/* BACK TO TOP BUTTON */
#back_top {margin: 0 0 0 555px;}




}




/********************************************************************************************************
							< 1200px
********************************************************************************************************/

@media (max-width: 1199px) {

/* 3. GLOBAL THEME STYLES */
/* cookies policy message */
.cookies_container {text-align: center;}
.cookies_container p {display: block;font-size: 15px;}
.cookies_container .cookie_btn {margin: 10px 0;font-size: 15px;}




/* PROMOBANNER */
#promobanner {display: none !important;}




/* 7.2 HEADER */
.custom_header {padding: 24px 0 0 0;}
.custom_header i {font-size: 20px;}
.custom_header span {font-size: 16px;}

.header_cart {width: 15%;}




/* 7.3 MEGAMENU */
.megamenu_mobile {width: 85%;float: left;}

.megamenu_mobile h2 {height: 60px;overflow: hidden;margin: 0;padding: 0 45px 0 20px;font-weight: normal;font-size: 20px;line-height: 60px;color: #ffffff;text-transform: capitalize;white-space: nowrap;text-overflow: ellipsis;cursor: pointer;position: relative;}
.megamenu_mobile h2 i {width: 35px;position: absolute;right: 0;top: 0;}
.megamenu_mobile h2 i:after {content: '\f107';font: 20px/60px 'FontAwesome';}
.megamenu_mobile h2.active i:after {content: '\f106';}

.megamenu_mobile ul {width: 100%;background: #2f2f2f;
display: none;

-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
}
.megamenu_mobile ul li {border-top: 1px solid rgba(255,255,255,.1);position: relative;}
.megamenu_mobile ul li i {float: right;}
.megamenu_mobile ul li i:after {content: '\f0fe';font: 22px 'FontAwesome';}
.megamenu_mobile ul li i.active:after {content: '\f146';}

.megamenu_mobile a {color: #ffffff;}
.megamenu_mobile a:hover {color: #01489A;}

.megamenu_mobile .level_1 {position: absolute;}
.megamenu_mobile .level_1 li {}
.megamenu_mobile .level_1 li a {display: block;padding: 7px 20px;font-size: 20px;}

.megamenu_mobile .level_2 {}
.megamenu_mobile .level_2 li {}
.megamenu_mobile .level_2 li a {padding: 7px 20px 7px 35px;font-size: 18px;}

.megamenu_mobile .level_3 {}
.megamenu_mobile .level_3 li {}
.megamenu_mobile .level_3 li a {padding: 7px 20px 7px 50px;font-size: 16px;}




/* 7.4 NIVOSLIDER */
.nivo-caption .wrap_2 {padding: 30px 30px 30px 380px;}
.nivo-caption .btn {padding: 7px 15px;}



/* 7.5 SHOWCASE */
.custom_showcase a {padding: 15px;text-align: right;}
.custom_showcase a img {position: relative;left: auto;top: auto !important;}
.custom_showcase a div {padding: 30px;text-align: left;position: absolute;left: 0;top: 0;}




/* 7.6 MAIN PRODUCT LISTING */
.product_listing_main .product_wrapper {padding: 15px;}
.product_listing_main .product_img span.product_badge {top: -29px;}




/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.product_homepage {width: 250px !important;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */

/* 7.7 OTHER HOMEPAGE BLOCKS */

/* 7.8 FOOTER */
#back_top {margin: 0 0 0 455px;}




/* 8.4 COLLECTION LISTING */
.collection_listing_main .collection_wrap {padding: 15px;}




/* 9.2 SIDEBAR PRODUCT LISTING */
.list_products .product_img {width: 100%;float: none;text-align: center;}
.list_products .product_info {margin: 10px 0 0 0;}




/* 9.3 SIDEBAR BLOG WIDGETS */
/*.list_comments .item_author span {display: block;float: none;margin: 5px 0 0 0;}*/
.list_comments .item_author {margin: 0 0 0 50px;}
.list_comments .item_author span {display: block;float: none;margin: 0;padding: 7px 0 0 0;}





/* 11.1 PRODUCT IMAGES */
/* BIG IMAGE + ZOOM */
.elevatezoom_big_wrapper {width: 302px;}

.zoomContainer {width: 292px !important;height: auto !important;}

.zoomWrapper,
#elevatezoom_big {width: 292px !important;height: auto !important;position: relative !important;}


/* THUMBS */
#elevatezoom_gallery {}
#elevatezoom_gallery a {width: 94px !important;}




/* 11.2 PRODUCT INFO */
.product_info__wrapper {}
.product_info__wrapper .product_info__left {width: 376px;}
.product_info__wrapper .product_info__right {width: 260px;}


/* VARIANTS */
.product_info__wrapper .selector-wrapper {width: 50%;}




}




/********************************************************************************************************
							< 991px
********************************************************************************************************/

@media (max-width: 991px) {
  
.cart_popup {top: 0 !important;}




/* 7.2 HEADER */

/* 7.3 MEGAMENU */

/* 7.4 NIVOSLIDER */
.nivo-caption .wrap_2 {padding: 30px 30px 30px 300px;}




/* 7.5 SHOWCASE */

/* 7.6 MAIN PRODUCT LISTING */

/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.homepage_carousel .product {width: 292px !important;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */

/* 7.7 OTHER HOMEPAGE BLOCKS */

/* 7.8 FOOTER */
#back_top {margin: 0 0 0 345px;}




/* 9.2 SIDEBAR PRODUCT LISTING */

/* 11.1 PRODUCT IMAGES */
/* BIG IMAGE + ZOOM */
.elevatezoom_big_wrapper {width: 290px;}

.zoomContainer {width: 280px !important;}

.zoomWrapper,
#elevatezoom_big {width: 280px !important;height: auto !important;position: relative !important;}


/* THUMBS */
#elevatezoom_gallery {}
#elevatezoom_gallery a {width: 90px !important;}

.product_images .bx-wrapper {width: 290px;}




/* 11.2 PRODUCT INFO */
.product_info__wrapper {display: block;}
.product_info__wrapper .product_info__left {width: 100%;display: block;padding: 0;}
.product_info__wrapper .product_info__right {width: 100%;display: block;margin: 15px 0 0 0;padding: 15px 0 0 0;border: none;border-top: 1px solid #e7e7e7;}




}




/********************************************************************************************************
							< 767px
********************************************************************************************************/

@media (max-width: 767px) {

/* 6. GLOBAL PAGE LAYOUT */
.container {padding:0 15px;}




/* 7.2 HEADER */
.header_social {float: left;margin: 0;padding: 0;border: none;}

.logo_main {padding: 40px 0 0 0;text-align: center;}

.header_search {padding: 40px 0 0 0;}

.custom_header {padding: 20px 0 0 0;text-align: center;}
.custom_header i {font-size: 35px;}
.custom_header span {font-size: 21px;}

.header_row__3 {padding: 20px 0 0 0;}




/* 7.3 MEGAMENU */

/* 7.4 NIVOSLIDER */
.nivo-caption .wrap_2 {padding: 30px 30px 30px 52%;}




/* 7.5 SHOWCASE */

/* 7.6 MAIN PRODUCT LISTING */
.product_listing_main .product {}

.product_listing_main .product_wrapper {}

.product_listing_main .product_img {width: 100%;float: left;}

.product_listing_main .product_img img{height: 320px !important;}

.product_listing_main .product_info {margin: 0 0 0 15px;}

.product_listing_main .product_price {padding: 0;}
.product_listing_main .product_name {}
.product_listing_main .product_desc {}

.product_listing_main .quick_view_btn {display: none !important;}




/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
.featured_products .bx-wrapper {max-width: 767px !important;}
.featured_products .bx-viewport {height: auto !important;}
.featured_products .bx-controls {display: none !important;}

.homepage_carousel {width: 100% !important;max-width: 767px !important;margin: 0;}
.homepage_carousel .product {width: 100% !important;float: none;padding: 0;}
.homepage_carousel .product.bx-clone {display: none;}




/* COLLECTION PRODUCT LISTING (GRID/LIST) */
.product_collection {}




/* 7.8 FOOTER */
#back_top {display: none !important;}

.footer_row__1 h3,
.footer_row__2 h3 {padding: 30px 0 0 0;}

.footer_block__5 {clear: left;}




/* 8.1 BREADCRUMBS */

/* 8.2 DESCRIPTIONS & TAGS */

/* 8.3 PRODUCTS SORTING */
.product_listing_toggle {display: none !important;}

.show_products {float: left;margin: 10px 10px 0 0;}




/* 8.4 COLLECTION LISTING */
.collection_listing_main {}

.collection_listing_item {margin: 30px 0 0 0;}
.collection_listing_item.item_2_1 {clear: left;}




/* 8.5 PAGINATION */

/* 8.3 COLLECTION LISTING */

/* 9. SIDEBAR WIDGETS */
.sidebar {margin: 30px 0 0 0;}




/* 9.1 LINKS LIST */
.sidebar_widget__collections {margin: 30px 0 0 0;}




/* 9.2 SIDEBAR PRODUCT LISTING */
.list_products .product_img {width: 100px;float: left;}
.list_products .product_info {margin: 0 0 0 115px;}




/* 11.1 PRODUCT IMAGES */
.elevatezoom_big_wrapper {margin: 0 auto;}

.product_images .bx-wrapper {margin: 10px auto 0 auto;}


.zoomContainer,
.zoomLens,
.zoomWindow {display: none !important;}




/* 11.2 PRODUCT INFO */
.product_wrap .product_name {padding: 30px 0 0 0;}

.product_info__wrapper .selector-wrapper {width: 33.33333333333333%;}




/* 12.1 POSTS LISTING */
.article_header__title {float: none;margin: 0;}
.article_header__comments {float: none;}

.article_footer__tags,
.article_footer__right {float: none;margin: 15px 0 0 0;}




/* 12.2 SINGLE POST */
.article_comments__list .comment_author span {display: block;float: none;margin: 5px 0 0 0;}




/* 13.2 LOG IN */
.account_wrapper {display: block;margin: 0;}
.account_wrapper .account_left {width: 100%;height: auto;display: block;padding: 0;}
.account_wrapper .account_right {width: 100%;height: auto;display: block;padding: 0;}
.account_wrapper .account_section {margin: 30px 0 0 0;}




/* 13.3 ACCOUNT */
.account_area .page_heading {}
.account_area .page_heading a {float: none;margin: 7px 0 0 0;}
.account_area .page_heading a.link_logout {position: relative;right: auto;top: auto;}




/* 14. CART PAGE */
.cart_list {border: 1px solid #e7e7e7;border-width: 0 1px 1px 1px;}

.cart_list th {display: none;}
.cart_list tbody td {display: block;overflow: hidden;padding: 0;border-width: 0;text-align: left !important;}
.cart_list tbody td.cell_1 {border-width: 1px 0;}
.cart_list tbody td.cell_2 {width: 140px;float: left;padding: 10px;}
.cart_list tbody td.cell_3 {width: 98px;float: left;padding: 10px 10px 10px 0;}
.cart_list tbody td.cell_4 {float: left;padding: 10px 10px 10px 0;}
.cart_list tbody td.cell_5 {float: right;padding: 10px 10px 10px 0;}


.cart_item__img {width: 140px;padding: 10px;}
.cart_item__info {margin: 0 0 0 140px;padding: 10px 10px 10px 0;}


.cart_list .cart_buttons {}
.cart_list .cart_buttons td {padding: 0 20px 20px 20px;}
.cart_list .cart_buttons .btn {margin-top: 20px;}


.cart_list .cart_summary .cart_summary__checkout {text-align: center;}
.cart_list .cart_summary .cart_summary__checkout button {float: none;margin: 20px 0 0 0;}

.cart_list .cart_summary .cart_summary__methods {float: none;font-size: 0;}
.cart_list .cart_summary .cart_summary__methods li {display: inline-block;float: none;margin: 20px 10px 0 10px;}




}




/********************************************************************************************************
								< 640px
********************************************************************************************************/

@media (max-width: 640px) {

/* 7.4 NIVOSLIDER */
.nivo-caption .btn {display: none;}




/* 7.5 SHOWCASE */
.custom_showcase a {padding: 10px 10px 20px 10px;text-align: center;}
.custom_showcase a img {}
.custom_showcase a div {width: 100%;padding: 0;text-align: center;position: relative;left: auto;top: auto;}




/* 11.2 PRODUCT INFO */
.product_wrap .variants-wrapper {margin: 0;}
.product_wrap .selector-wrapper {width: 100%;float: none;padding: 15px 0 0 0;}




/* 13. CUSTOMER PAGES */
.account_section {margin: 15px 0 0 0;padding: 15px;}

.account_wrapper .account_section {margin: 15px 0 0 0;}

.table_orders__wrap {margin: 0 -16px -16px -16px;}



/* 13. CUSTOMER PAGES */
.account_section.account_address__add h4 span,
.account_section.account_address__item h4 span {display: block;float: none;margin: 10px 0 0 0;}




}




/********************************************************************************************************
								< 480px
********************************************************************************************************/

@media (max-width: 480px) {

/* 3.7 ADD TO CART MESSAGE */
#cart_added {}
#cart_added .cart_added__row {height: auto;display: block;}

#cart_added h4 {}

.cart_added__1 {width: 100%;display: block;}
.cart_added__1 img {height: 150px;}

.cart_added__2 {width: 100%;display: block;padding: 15px 0 0 0;}
.cart_added__2 .product_name {}
.cart_added__2 #cart_added__quantity {}
.cart_added__2 .btn {}




/* 7.2 HEADER */
.header_row__1 {padding: 15px 0 0 0;}

.header_currency {padding: 0 0 15px 0;}

.header_user {float: left;margin: 0;padding: 0 0 15px 0;border: none;}

.header_social {float: none;clear: both;padding: 15px 0 0 0;border-top: 1px solid rgba(0,0,0,.15);text-align: center;}

.header_cart {width: 100%;float: none;}
.header_cart a {
-webkit-border-radius: 0;
		border-radius: 0;
}




/* 7.3 MEGAMENU */
#megamenu {height: 120px;
-webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
}

.megamenu_mobile {width: 100%;float: none;position: relative;z-index: 10;}




/* 7.4 NIVOSLIDER */
.nivo-caption {display: none !important;}




/* 7.6 MAIN PRODUCT LISTING */
.product_listing_main .product_desc {display: none !important;}




/* HOMEPAGE PRODUCT LISTING (CAROUSEL) */
/* COLLECTION PRODUCT LISTING (GRID/LIST) */

/* 7.7 OTHER HOMEPAGE BLOCKS */

/* 7.8 FOOTER */
.footer_row__2 .footer_block {width: 100%;float: none;clear: both;}



/* 8.3 PRODUCTS SORTING */
.product_listing_controls {text-align: center;}
.products_count {float: none;margin: 10px 0 0 0;}
#pagination {float: none;margin: 10px 0 0 0;}




/* 8.4 COLLECTION LISTING */
.collection_listing_item {width: 100%;float: none;clear: both;}
.collection_listing_item .collection_img {text-align: center;}




/* 12.1 POSTS LISTING */
.blog_listing__article .article_body {margin: 0;}
.blog_listing__article .article_header {margin: 0 0 0 100px;}
.blog_listing__article .article_content {clear: both;padding: 15px 0 0 0;}




/* 13.3 ACCOUNT */
.table_orders .cell_fulfillment {display: none;}




/* 13.4 ORDERS */
#customer_orders th,
#customer_orders td,
#order_details th,
#order_details td {vertical-align: middle;padding: 5px;font-size: 12px;}




/* 14. CART PAGE */
.cart_list tbody td.cell_1 {width: 90vw;}
.cart_list tbody td.cell_2 {width: 90vw;}
.cart_list tbody td.cell_3 {width: 90vw;}
.cart_list tbody td.cell_4 {width: 90vw;}
.cart_list tbody td.cell_5 {width: 90vw;}


.cart_item__img {width: 120px;}
.cart_item__info {margin: 0 0 0 120px;}


.cart_list .cart_buttons {}
.cart_list .cart_buttons td {text-align: center;}
.cart_list .cart_buttons .btn {width: 100%;display: block;float: none;margin: 20px 0 0 0;}




}