/* reset our lists to remove bullet points and padding */
.mainmenu0, .submenu1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu0 a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu0 a:hover {
    background-color: #C5C5C5 !important;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu0 li:hover .submenu1 {
  color: white !important;
  background-color: white!important;
  display: block;
  max-height: 200px;
}

.submenu1 li:hover .submenu2 {
  color: gray !important;
  background-color: red!important;
  display: block;
  max-height: 200px;
}


.submenu1 a {
  background-color: #999;
  color: black !important;
}

/* hover behaviour for links inside .submenu */
.submenu1 a:hover {
  background-color: #666;
  color: white!important;
}
  
/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu1 {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
/*==================submenu2===============*/
.submenu2 a {
  background-color: #999;
  color: black !important;
}
.submenu2 a:hover {
  background-color: #666;
  color: white!important;
}
.submenu2 {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}