 html {
        /*overflow: auto;*/
    }
    body {
    /*    position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
        padding: 30px; */
        /*overflow-y: hidden;*/
        overflow-x: hidden;
        padding-bottom: 0px !important;
        font-family: Tahoma, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }

    .material-icons
    {
        font-size: inherit !important;
    }

    table.dataTable tbody th, table.dataTable tbody td 
    {
        padding: 5px 5px !important;
        word-wrap: break-word;
        vertical-align: middle !important;
    }

    table.dataTable thead th, table.dataTable thead td 
    {
        background-color: #3c8dbc;
        color: #ffffff;
        border-bottom: 1px ridge rgba(0,0,0,0.7) !important;
    }

    table.dataTable thead .sorting:after
    {
        opacity: 0.5 !important;
    }

    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after
    {
        opacity: 1 !important;
    }

    table.dataTable.no-footer
    {
        border: 1px ridge rgba(0,0,0,0.7) !important;
    }

    table.dataTable .btn
    {
        margin-bottom: 3px !important;
    }


    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 5px;
    }

    .modal ::-webkit-scrollbar {
        width: 0px !important;
    }
     
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 5px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 5px;
        background: rgba(0,0,0,0.5); 
        -webkit-box-shadow: inset 0 0 6px rgba(221,221,221,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: transparent; 
    }

    /*** CSS Preloading ***/
    /*.loader{
        background: rgba(255,255,255,0.9);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 999999998;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        overflow: hidden;
    }

    .loader img{
        position:fixed;
        z-index:999999999;
        top:40%;
        left:45%;
    }

    #loading-image {
        position: absolute;
        top: 40%;
        left: 45%;
        z-index: 100;
        opacity: 1 !important;
    }*/

    .divBlur
    {
        filter: blur(7px); 
        -webkit-filter: blur(7px); 
        -moz-filter: blur(7px);
        -o-filter: blur(7px); 
        -ms-filter: blur(7px);
        filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='7');
    }

    .loader-wrapper {
        /*position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 999999998;
        background-color: rgba(0,0,0,0.7);
        position: fixed;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        overflow: hidden;*/
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.7);
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        overflow: hidden;
        z-index: 110;
    }

    #loader {
        display: block;
        position: relative;
        left: 52%;
        top: 50%;
        width: 100px;
        height: 100px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
     
    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
     
    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
     
    @-webkit-keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        25%   {
            -webkit-transform: rotate(90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(90deg);  /* IE 9 */
            transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera */
        }
        50%   {
            -webkit-transform: rotate(180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(180deg);  /* IE 9 */
            transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
        }
        75%   {
            -webkit-transform: rotate(270deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(270deg);  /* IE 9 */
            transform: rotate(270deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   {
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        25%   {
            -webkit-transform: rotate(90deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(90deg);  /* IE 9 */
            transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera */
        }
        50%   {
            -webkit-transform: rotate(180deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(180deg);  /* IE 9 */
            transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera */
        }
        75%   {
            -webkit-transform: rotate(270deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(270deg);  /* IE 9 */
            transform: rotate(270deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    /*** CSS Preloading ***/

    /* customize Bootbox Animation */
    .bootbox.modal.fade .modal-dialog {
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: 150px;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }

    .bootbox.modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(10, -0px, 0);
        transform: translate3d(0, -0px, 0);
        opacity: 1;
    }
    /* customize Bootbox Animation */

    /* customize Box in Main Content */
    .box {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7) !important
    }

    .box-header {
        border-bottom: 1px solid rgba(0,0,0,0.1) !important;
        margin-bottom: 0px !important;
    }
    .box-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
        margin-top: 3px !important;
    }

    .box-header>.box-tools 
    {
        top: 5px !important;
    }
    /* customize Box in Main Content */

    hr
    {
        width: 100% !important;
        border-bottom: 1px solid rgba(0,0,0,0.1) !important;
        margin-bottom: 5px !important;
        margin-top: 5px !important;
    }

    .dropdown-menu
    {
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
        box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    }

    .modal-footer{
        border-top-color: #ffffff !important;
    }

    /*.btn
    {
        margin: 1px !important;
    }*/

    #search-btn, .box-tools>.btn, #selectImages
    {
        margin: 0px !important;
    }

    /** Custome Responsive **/

    /*.display-block-xs
    {
        display: none !important;
    }
    .nondisplay-xs
    {
        display: inline-block !important;
    }*/

    @media (max-width: 767px)
    {
        #loader {
            display: block;
            position: relative;
            left: 52%;
            top: 50%;
        }
        
        /*.pull-right-xs
        {
            float: right !important;
        }
        .pull-left-xs
        {
            float: left !important;
        }
        .display-inline-block-xs
        {
            display: inline-block; !important;
        }
        .display-block-xs
        {
            display: block; !important;
        }
        .nondisplay-xs
        {
            display: none !important;
        }*/
    }
    
    /** Custome Responsive **/

    .dropdown .notifications-menu{
        color: #000000 !important;
    }


    .tooltip {
        position: relative;
        display: inline-block;
        /*border-bottom: 1px dotted black;*/
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        max-width:200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
